<a href="https://colab.research.google.com/github/Rushikesh042/Weather-Prediction-system/blob/master/Classification_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [3]:
data = pd.read_csv('daily_weather.csv')

In [4]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [5]:
data

      number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
0          0        918.060000  ...              42.420000              36.160000
1          1        917.347688  ...              24.328697              19.426597
2          2        923.040000  ...               8.900000              14.460000
3          3        920.502751  ...              12.189102              12.742547
4          4        921.160000  ...              92.410000              76.740000
...      ...               ...  ...                    ...                    ...
1090    1090        918.900000  ...              26.020000              38.180000
1091    1091        918.710000  ...              90.350000              73.340000
1092    1092        916.600000  ...              45.590000              52.310000
1093    1093        912.600000  ...              64.840000              58.280000
1094    1094        921.530000  ...              14.560000              15.100000

[1095 rows x 11 columns]

In [6]:
data[data.isnull().any(axis=1)]

      number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
16        16        917.890000  ...              48.990000              51.190000
111      111        915.290000  ...              21.500000              29.690000
177      177        915.900000  ...              29.260000              46.500000
262      262        923.596607  ...              17.990876              16.461685
277      277        920.480000  ...              52.580000              54.030000
334      334        916.230000  ...              31.880000              32.900000
358      358        917.440000  ...              13.880000              25.930000
361      361        920.444946  ...              12.278715               7.618649
381      381        918.480000  ...              20.640000              14.350000
409      409               NaN  ...              18.487385              20.356594
517      517        920.570000  ...              79.880000              84.530000
519      519        916.250000  ...              72.550000              74.390000
546      546               NaN  ...              87.870000              70.770000
620      620        921.200000  ...              59.790000              77.750000
625      625        912.400000  ...              86.840000              64.740000
656      656        920.830000  ...              23.770000              51.630000
670      670        910.920000  ...              80.560000              88.220000
672      672        922.448945  ...              16.753670              17.804720
705      705        911.900000  ...              77.630000              59.130000
731      731        922.970166  ...              34.807753              18.418179
737      737        917.895130  ...              13.771311              16.792455
788      788        917.923442  ...               6.939692              18.793825
840      840        918.043767  ...              11.911222              18.154358
848      848        915.250000  ...              91.000000              90.780000
861      861        919.065408  ...              12.497839              13.438518
869      869               NaN  ...              85.270000              90.260000
998      998        914.140000  ...              24.200000              41.380000
1031    1031        922.669195  ...              18.920805              19.641841
1035    1035        919.670000  ...              56.860000              50.650000
1063    1063        917.300185  ...              14.972668              20.966267
1066    1066        919.564869  ...              11.657314              17.331823

[31 rows x 11 columns]

In [7]:
del data['number']

In [8]:
before_rows = data.shape[0]
print(before_rows)

1095

In [9]:
data = data.dropna()

In [10]:
after_rows = data.shape[0]
print(after_rows)

1064

In [11]:
before_rows - after_rows

31

In [12]:
clean_data = data.copy()
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm'] > 24.99)*1
print(clean_data['high_humidity_label'])

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int64

In [13]:
y=clean_data[['high_humidity_label']].copy()

In [14]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

In [15]:
y.head()

   high_humidity_label
0                    1
1                    0
2                    0
3                    0
4                    1

In [16]:
morning_features = ['air_pressure_9am','air_temp_9am','avg_wind_direction_9am','avg_wind_speed_9am',
        'max_wind_direction_9am','max_wind_speed_9am','rain_accumulation_9am',
        'rain_duration_9am']

In [17]:
X = clean_data[morning_features].copy()

In [19]:
X.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am'],
      dtype='object')

In [20]:
y.columns

Index(['high_humidity_label'], dtype='object')

**Training Phase**

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=324)

In [23]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)
humidity_classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [24]:
type(humidity_classifier)

sklearn.tree._classes.DecisionTreeClassifier

In [25]:
predictions = humidity_classifier.predict(X_test)

In [26]:
predictions[:10]

array([0, 0, 1, 1, 1, 1, 0, 0, 0, 1])

In [27]:
y_test['high_humidity_label'][:10]

456     0
845     0
693     1
259     1
723     1
224     1
300     1
442     0
585     1
1057    1
Name: high_humidity_label, dtype: int64

In [28]:
accuracy_score(y_true = y_test, y_pred = predictions)

0.8153409090909091